<!-- Post Listing -->
<section class="posts-section">
	<div class="container margin-tb-md">
		<div class="posts-list">
			<ol class="breadcrumb">
				<li><a href="/"><i class="fa fa-home"></i></a></li>
				<li class="active">Blog</li>
			</ol>
		</div>
		<div class="posts-list">

			{{#each posts}}
				<div class="post">
					<div class="row">
						{{#if images.featuredImage}}
							<div class="col-sm-3">
								<div class="post-thumb">
									<img class="img-responsive" src="{{images.featuredImage.data.thumb}}" alt="Post Image">
								</div>
							</div>
						{{/if}}
						<div class="col-sm-{{ternary images.featuredImage 9 12}}">
							<div class="post-body">
								<div class="post-date">{{dateFormat publishDate "mmmm d, yyyy"}}</div>
								<h4 class="post-title"><a href="/blog/{{id}}">{{title}}</a></h4>
								<div class="post-content">
									<p>{{excerpt content 85}}</p>
									<a class="read-more" href="/blog/{{id}}">Read More &gt;</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/each}}


		</div> <!-- End posts-list -->
	</div> <!-- End container -->
</section>
<!-- End of Posts Listing -->
